<footer
  class="w-full flex flex-col justify-center items-center mt-16 py-8 px-4 lg:pl-[33%] lg:pr-16 md:flex-row md:justify-between gap-12"
>
  <article
    class="flex flex-col gap-6 justify-center items-center md:justify-start md:items-start"
  >
    <a href="/">
      <img
        src="/assets/images/general/Logo devTools.webp"
        alt="Logo DevTools"
        class="w-28 h-auto object-cover cursor-pointer md:w-36"
      />
    </a>

    <aside class="flex gap-4">
      <div class="group">
        <a
          target="_blank"
          rel="noopener"
          class="text-grayLight text-sm lg:group-hover:text-primary transition flex flex-col justify-center items-center"
          href="https://as-work.vercel.app/"
        >
          <img
            src="/assets/svg/Portfolio.svg"
            alt="Portafolio"
            class="size-6 object-cover cursor-pointer lg:group-hover:scale-125 transition"
          />
          Portafolio
        </a>
      </div>

      <div class="group">
        <a
          target="_blank"
          rel="noopener"
          class="text-grayLight text-sm lg:group-hover:text-primary transition flex flex-col justify-center items-center"
          href="https://www.linkedin.com/in/antonio-silva-developer/"
        >
          <img
            src="/assets/svg/Linkedin.svg"
            alt="Linkedin"
            class="size-6 object-cover cursor-pointer lg:group-hover:scale-125 transition"
          />
          Linkedin
        </a>
      </div>

      <div class="group">
        <a
          target="_blank"
          rel="noopener"
          class="text-grayLight text-sm lg:group-hover:text-primary transition flex flex-col justify-center items-center"
          href="https://github.com/Asilvazavala"
        >
          <img
            src="/assets/svg/Github.svg"
            alt="Github"
            class="size-6 object-cover cursor-pointer lg:group-hover:scale-125 transition"
          />
          Github
        </a>
      </div>
    </aside>
  </article>

  <article class="flex flex-col gap-2 text-lg">
    <a href="/contact" class="text-secondary lg:hover:brightness-125 transition"
      >Contacto</a
    >
    <a
      href="https://github.com/Asilvazavala/Dev-Tools"
      target="_blank"
      rel="noopener"
      class="text-secondary lg:hover:brightness-125 transition"
    >
      Contribuir
    </a>
  </article>

  <article class="flex flex-col gap-2">
    <p class="text-secondary text-lg">Diseño inspirado en:</p>
    <aside class="flex gap-4">
      <a
        class="text-grayLight underline lg:hover:text-primary transition"
        href="https://devresourc.es/"
        target="_blank"
        rel="noopener"
        >devresourc</a
      >
      <a
        class="text-grayLight underline lg:hover:text-primary transition"
        href="https://www.recursostech.dev/"
        target="_blank"
        rel="noopener"
        >recursostech</a
      >
    </aside>
  </article>
</footer>
