<section
  class="flex flex-col justify-start items-start w-full mt-20 gap-4 lg:gap-8 md:mt-28"
>
  <header class="flex flex-col justify-between w-full lg:flex-row gap-y-4">
    <article class="flex flex-col">
      <h1
        class="text-secondary text-3xl md:text-4xl font-bold leading-8 tracking-wider uppercase"
      >
        {{
          currentCategory === "" && currentSearch === ""
            ? "Populares"
            : currentSearch !== ""
            ? currentSearch
            : currentCategory
        }}
      </h1>
      <span class="text-grayLight">{{ filteredCards.length }} resultados</span>
    </article>

    <article class="flex flex-col">
      <span class="text-secondary font-bold tracking-wider">ORDEN</span>
      <app-dropdown class="z-20" />
    </article>
  </header>

  <ul class="grid grid-cols-1 md:grid-cols-2 min-[1500px]:grid-cols-3 gap-6">
    @for (card of filteredCards; track card.id) {
    <li
      class="group overflow-hidden flex z-10 flex-col gap-2 border-2 border-primary rounded-2xl p-1 transition lg:hover:border-secondary"
    >
      <a href="{{ card.link }}" target="_blank" rel="noopener">
        <div class="lg:max-h-[275px] overflow-hidden">
          <img
            src="{{ card.image }}"
            alt="{{ card.title }}"
            class="w-full h-auto object-cover rounded-2xl mb-3 lg:group-hover:scale-125 duration-700"
          />
        </div>

        <h3 class="text-secondary text-lg font-bold px-2">{{ card.title }}</h3>

        <div class="flex gap-2 mb-3 px-2">
          @for (categorie of card.categories; track $index) {
          <span class="text-sm text-grayLight">{{ categorie }}</span>
          @if ($index !== card.categories.length - 1) {
          <span class="text-sm text-grayLight">/</span>
          } }
        </div>

        <p class="px-2 pb-4 text-primary">{{ card.description }}</p>
      </a>
    </li>
    }
  </ul>
</section>
