<section
  class="z-30 flex justify-center items-center fixed w-full max-w-[1700px]"
>
  <nav
    class="py-2 px-4 lg:px-16 flex justify-between items-center w-full backdrop-blur-md"
  >
    <a href="/">
      <img
        src="/assets/images/general/Logo devTools.webp"
        alt="Logo DevTools"
        class="w-28 h-auto object-cover cursor-pointer md:w-36"
      />
    </a>

    <aside class="gap-4 hidden lg:flex">
      <app-button btn_name="Agregar tool" />
    </aside>

    <!-- Navbar Mobile -->
    <article class="lg:hidden">
      @if (!isMenuOpen) {
      <img
        src="/assets/svg/MenuIcon.svg"
        alt="Menu-icon"
        class="`w-8 h-auto object-cover transition duration-700 
        ${{ isMenuOpen ? 'scale-0 delay-0' : 'scale-100 delay-200' }}`"
        (click)="isMenuOpen = true"
      />
      } @else {
      <img
        src="/assets/svg/XIcon.svg"
        alt="Close-icon"
        class="`w-8 h-auto absolute z-10 top-5 right-4 object-cover transition duration-700
        ${{ isMenuOpen ? 'scale-100 delay-200' : 'scale-0 delay-0' }}`"
        (click)="isMenuOpen = false"
      />

      <ul
        class="absolute top-0 left-0 flex flex-col justify-start items-center h-screen w-screen pt-20 bg-gradient-to-r from-slate-800 to-slate-950"
      >
        <app-button btn_name="Agregar tool" />
        <app-sidebar />
      </ul>
      }
    </article>
  </nav>
</section>
