<section class="flex justify-center items-center max-w-[1400px] fixed w-full">
  <nav
    class="py-3 px-4 lg:px-20 flex justify-between items-center w-full backdrop-blur-md"
  >
    <a href="/">
      <img
        src="/assets/images/general/Logo devTools.webp"
        alt="Logo DevTools"
        class="w-28 h-auto object-cover cursor-pointer md:w-36"
      />
    </a>

    <aside class="gap-4 hidden lg:flex">
      <button class="btn" type="button">
        <strong>Añadir tool</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>

        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
    </aside>

    <article class="lg:hidden">
      @if (!isMenuOpen) {
      <img
        src="/assets/svg/MenuIcon.svg"
        alt="Logo DevTools"
        class="`w-8 h-auto object-cover transition duration-700 
        ${{ isMenuOpen ? 'scale-0 delay-0' : 'scale-100 delay-200' }}`"
        (click)="isMenuOpen = true"
      />
      } @else {
      <img
        src="/assets/svg/XIcon.svg"
        alt="Logo DevTools"
        class="`w-8 h-auto absolute top-5 right-4 object-cover transition duration-700
        ${{ isMenuOpen ? 'scale-100 delay-200' : 'scale-0 delay-0' }}`"
        (click)="isMenuOpen = false"
      />

      <ul class="flex justify-center items-center h-screen w-screen">
        <button class="btn" type="button">
          <strong>Añadir tool</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>

          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </ul>
      }
    </article>
  </nav>
</section>

<!-- @for (game of games; track game.id) {

} -->
