<section
  class="flex justify-center items-center lg:fixed w-full mt-14 lg:mt-28"
>
  <article class="flex flex-col justify-start w-full gap-y-10">
    <app-searchInput />

    <ul class="flex flex-col gap-2">
      <h2
        class="mb-2 text-secondary font-bold text-xl uppercase tracking-wider"
      >
        Categorías
      </h2>
      @for (categorie of sidebar_categories; track categorie.id) {
      <a
        routerLink="{{ categorie.link }}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="w-fit"
      >
        <li
          class="` cursor-pointer {{
            categorie.name.toLowerCase() === currentCategory
              ? 'text-primary'
              : 'text-grayLight'
          }} lg:hover:text-primary transition w-fit flex items-center gap-2 group `"
        >
          <img
            src="{{ categorie.icon }}"
            alt="{{ categorie.name }}"
            class="` size-5 group-hover:invert rounded-full  
            {{
              categorie.name.toLowerCase() === currentCategory ? 'invert' : ''
            }} transition `"
          />
          <span>{{ categorie.name }}</span>
        </li>
      </a>
      }
    </ul>
  </article>
</section>
