<button
  class="text-white w-40 relative border-2 focus:ring-1 ring-primary border-secondary font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex justify-between items-center"
  type="button"
  (click)="isDropdownOpen = !isDropdownOpen"
>
  {{ currentOrder }}
  <svg
    class="` w-2.5 h-2.5 ms-3 transition-transform {{
      isDropdownOpen && 'rotate-180'
    }} `"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"
    />
  </svg>
</button>

@if (isDropdownOpen) {
<div
  class="divide-y divide-gray-100 rounded-lg shadow w-[9.7rem] bg-gray-700 absolute"
>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
    @for (item of dropdownItems; track $index) {
    <li
      (click)="handleDropdown(item)"
      class="block px-4 py-2 hover:bg-gray-600 cursor-pointer"
    >
      {{ item }}
    </li>
    }
  </ul>
</div>
}
